@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f0f0f0;
  overflow-x: hidden;
  position: relative;
}

.container {
  width: 100%;
  /* Add your background pattern here */
  /* background-color: teal; */
  position: absolute;
  top: 0;
  left: 0;
  z-index: -50;
}
